/*  Color Variables */
:root{
    --dark:#1a1b21;
    --gray-900:#4f4f4f;
    --gray-200:#ddddddfd;
    --gray-300:#7d7e82;
    --white:#fff;
    --white-100:#f1f8fe;
    --blue:#0a8fdc;

}
/* End  Color Variables */